.postcard {
    border-style:ridge;
    border-color: rgb(57, 111, 237);
    border-radius: 3%;
    border-width: thin;
    background-color: rgb(222, 235, 247);
    height: 300px;
    overflow:hidden;
}

