body {
    --color-text: black;
    --color-dropdown: #dbdbe0;
    --color-modal: #e6e6e9;
}

@media (prefers-color-scheme: dark) {
    body {
        --color-text: #c9c3bc;
        --color-dropdown: #1a1e2d;
        --color-modal: #141b31;
    }
}

/* src/Modal.css */
.modal-header,
.modal-body,
.modal-footer {
    color: var(--color-text) !important;
    background-color: var(--color-modal);
}

.modal-header {
    color: var(--color-text) !important;
    border-bottom: 1px solid var(--color-text);
}

.modal-footer {
    border-top: 1px solid var(--color-text);
}

.confirm-button {
    background-color: #ff0800;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: #19a4fb;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menu,
.dropdown-item,
a {
    background-color: var(--color-dropdown);
    color: var(--color-text) !important;
}