/* src/App.css */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.app {
    width: 95%;
    max-width: 1200px;
    height: 95vh;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.header{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* src/Sidebar.css */
.sidebar {
    /* width: 250px; */
    background-color: #f5f5f5;
    padding: 10px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.add-note {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.notes-list {
    flex-grow: 1;
}

/* src/NoteItem.css */
.note-item {
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    align-items: center;
}

.note-item.selected {
    background-color: #e1e1e1;
}

.note-title {
    flex-grow: 1;
}

.delete-note {
    background-color: #ff3b30;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

/* src/NoteEditor.css */
.note-editor {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.no-note {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #888;
}

.note-title-input {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 5px;
}

.note-content-input {
    flex-grow: 1;
    font-size: 1em;
    padding: 10px;
}

.box{
    border-style:solid;
}