/* src/App.css */
.app {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.header{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* src/Sidebar.css */
.sidebar {
    background-color: #efeded;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0px;
    margin: 0px 5px 0px 10px;
    height: 97vh;
    flex: 0 2 310px;
    overflow-y:hidden;
}

.sidebar.collapsed {
    width: 0px;
    flex: 0 2 auto;
}

.scrollable {
    height: 100%;
    max-width: 100%;
    overflow-y:auto;
    scrollbar-gutter: auto;
}

.note-lists {
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.sidebar-nav {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #efeded;
    position: sticky;
    top: 0;
}

.nav {
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-note {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* src/NoteItem.css */
.note-item {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.note-item.selected {
    background-color: #e1e1e1;
}

.note-title {
    overflow:hidden;
}

/* src/NoteEditor.css */
.note-editor {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 4 1 500px;
    height: 97vh;
    margin-right: 10px;
    margin-left: 5px
}

.editor-nav {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.no-note {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #888;
}

.mde {
    height: 90%;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

#editor {
    margin-left: 5%;
}
/* src/UserDropdown*/
.profile {
    margin-left: auto;
}

.dropdownToggle::after {
    display: none;
}

.dropdownMenu {
    right: 0;
    left: auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdownItem {
    padding: 10px 20px;
}

.dropdownItem:hover {
    background-color: #f1f1f1;
}

.box {
    border-style: solid;
}